.about {
  display: flex;
  flex-direction: column;
  gap: 30px;
  cursor: default;
}

.about *::selection {
  background-color: var(--accent-color);
}

.about__message {
  max-width: 690px;
  padding-top: 18px;
}

.about__cv {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex-grow: 1;
  padding: 48px 48px 48px 27px;
  border: 1px solid currentColor;
}

.about__cv::before {
  content: '';
  position: absolute;
  width: 60px;
  height: 30px;
  top: -1px;
  left: 56px;
  background-color: var(--bg-color);
  background-image: url(../../images/arrow_line.svg);
  background-repeat: no-repeat;
  background-position: top left;
}

@media (width < 1024px) {
  .about {
    gap: 24px;
  }

  .about__message {
    padding-top: 0;
  }

  .about__cv {
    gap: 24px;
    padding: 40px 15px 30px;
  }

  .about__cv::before {
    left: 50%;
    transform: translateX(-50%);
  }
}