.content {
  position: relative;
  max-width: 1440px;
  min-width: 360px;
  min-height: 100svh;
  margin: 0 auto;
  padding: var(--padding);
  display: grid;
  grid-template-columns: 320px 1fr;
  gap: 30px;
}

.content__link {
  position: absolute;
  top: 26px;
  right: 40px;
}

.content__link:focus-visible {
  outline: 1px solid currentColor;
  outline-offset: 1px;
  border-radius: 3px;
}

.content__logo {
  width: 240px;
}

@media (width < 960px) {
  .content {
    padding: var(--padding-top-mobile) var(--padding-side-mobile) var(--padding-bottom-mobile);
    grid-template-columns: 320px;
    justify-content: center;
    gap: 40px;
  }

  .content__link {
    top: 20px;
    left: 20px;
    right: auto;
  }

  .content__logo {
    width: 220px;
  }
}