.person {
  position: sticky;
  top: var(--padding);
  display: flex;
  flex-direction: column;
  max-height: 780px;
}

.person__photo-wrapper {
  position: relative;
}

.person__photo-wrapper::before {
  content: '';
  position: absolute;
  top: 100px;
  left: 80px;
  width: 150px;
  height: 80px;
  transform: rotate(8deg);
  transition: 0.5s;
  background-image: url(../../images/glasses.svg);
  background-repeat: no-repeat;
  background-position: top center;
}

.person__photo-wrapper:hover::before {
  opacity: 0;
}

.person__photo {
  display: block;
  width: 100%;
  aspect-ratio: 9 / 10;
  object-fit: cover;
  object-position: center;
}

.person__info {
  position: relative;
  background-color: var(--accent-color);
  flex-grow: 1;
  padding: 10px 24px 30px;
}

.person__info::before,
.person__info::after {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 30px;
}

.person__info::before {
  top: -29px;
  background-color: var(--accent-color);
  border-radius: 24px 24px 0 0;
}

.person__info::after {
  top: -48px;
  background-image: url(../../images/arrow.svg);
  background-size: 62px;
  background-repeat: no-repeat;
  background-position: top center;
}

.person__name {
  cursor: default;
}

.person__title {
  font-size: 22px;
  line-height: 28px;
  margin-bottom: 8px;
}

.person__text {
  font-size: 20px;
}

.person__contacts {
  margin-top: 40px;
  font-style: normal;
}

@media (width < 960px) {
  .person {
    position: static;
    min-height: 612px;
    max-height: none;
  }

  .person__info {
    padding: 5px 16px 30px;
  }

  .person__title {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 4px;
  }

  .person__text {
    font-size: 16px;
  }

  .person__contacts {
    margin-top: 32px;
  }
}