.skill-card {
  display: grid;
  grid-template-columns: 175px 1fr;
  gap: 20px;
}

.skill-card__title {
  font-size: 18px;
  line-height: 1;
}

.skill-card__info {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.skill-card__skills {
  display: flex;
  flex-wrap: wrap;
  gap: 5px 32px;
}

@media (width < 1024px) {
  .skill-card {
    grid-template-columns: 1fr;
    gap: 16px;
  }

  .skill-card__title {
    font-size: 16px;
  }

  .skill-card__info {
    gap: 12px;
  }

  .skill-card__skills {
    gap: 5px 16px;
  }
}